body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    margin: 20px 200px;
}

.container ul {
    list-style-type: none;
}

a {
    opacity: 1;
    text-decoration: none;
    color: black;
}

.opacity:hover {
    opacity: 0.5;
}

.delete {
    margin-right: 10px;
    color: red;
    float: right;
}

.manage {
    color: rgb(123, 206, 0);
    float: right;
}

.new {
    color: rgb(0, 81, 255);
}

.delete-all {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 35px;
    cursor: pointer;
}

.options {
    padding-left: 36px;
    width: 100%;
}

input[type=submit],
.file-upload {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 4px;
    margin-top: 4px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.gallery {
    margin: 30px;
}

.square-mini {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.square {
    object-fit: cover;
    width: 230px;
    height: 230px;
}

.dashboard {
    margin: 8px;
}

.gallery img {
    width: 230px;
    padding: 5px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

* {
    box-sizing: border-box;
}

.album-container {
    position: relative;
    float: left;
    width: 230px;
    margin: 5px;
}

.album-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .3s;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.album-container:hover .overlay {
    opacity: 1;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}